.img-logo {
    height: 40px;
    width: 132px;
    background: url(imagens/spotify.svg) no-repeat;
    display: block;
    background-size: contain;
    color: transparent;
    margin: auto;
}

 nav.navbar-personalized {
     padding: 15px 0px;
     background: rgba(0, 0, 0, 0.6);
     border: none;
 }

 .navbar-brand {
    padding: 5px 15px;
 }

 .bar {
     height: 16px;
     width: 2px;
     background: white;
     margin: 17px 10px;
 }

 .navbar-inverse .navbar-nav>li>a {
     color: white;
 }

 .navbar-inverse .navbar-nav>li>a:hover {
     color: rgb(101, 178, 209);
 }
